<nav class="relative w-full flex flex-wrap items-center justify-between py-4 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg navbar navbar-expand-lg navbar-light">
	<div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
		<button class="navbar-toggler text-gray-500 border-0 hover:shadow-none hover:no-underline py-2 px-2.5 bg-transparent focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
				<path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
			</svg>
		</button>
		<div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent">
			<a class="flex items-center text-gray-900 hover:text-gray-900 focus:text-gray-900 mt-2 lg:mt-0 mr-1" href="{{ path('post.index') }}">Blog</a>
			<ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
				<li class="nav-item p-2">
					{% if is_granted('ROLE_USER') %}
						<a class="h-full inline-flex items-center nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0" href="{{ path('post.user') }}">Mes articles</a>
					{% else %} 
						<a class="h-full inline-flex items-center nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0" href="{{ path('post.index') }}">Accueil</a>
					{% endif %}				
				</li>
				{% if is_granted('ROLE_USER') %}
					<li>
						<div class="nav-item p-2">
							<a href="{{ path('post.add') }}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
								Nouvel Article
							</a>
						</div>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<div class="nav-item p-2">
							<a href="{{ path('tag.add') }}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
								Créer un TAG
							</a>
						</div>
					</li>
					<li>
						<div class="nav-item p-2">
							<a href="{{ path('category.add') }}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
								Créer une Catégorie
							</a>
						</div>
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="flex items-center relative">
			{% if app.user %}
				<div class="dropdown relative flex space-x-4">
					<span> Hello {{ app.user.firstname }} !</span>
					<a class="dropdown-toggle flex items-center hidden-arrow" href="#" id="dropdownMenuButton2" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{{ app.user.avatar }}" class="rounded-full" style="height:25px;width:25px" alt="" loading="lazy"></a>
					<ul class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none left-auto right-0" aria-labelledby="dropdownMenuButton2">
						<li>
							<a class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100" href="{{ path('security.logout') }}">Déconnexion</a>
						</li>
					</ul>
				</div>
			{% else %}
			<div class="collapse navbar-collapse flex-grow items-center" id="navbarAccount">
				<ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
					<li class="nav-item p-2">
						<a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0" href="{{ path('security.login') }}">Connexion</a>
					</li>
					<li class="nav-item p-2">
						<a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0" href="{{ path('app_register') }}">Inscription</a>
					</li>
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
</nav>