<div class="container md:mx-auto sm:mx-0">
    {{ form_start(categoryForm) }}
        <div class="flex justify-center">
            <div class="md:w-8/12 lg:w-10/12 lg:ml-20">
                <div class="mb-3">
                    {{ form_label(categoryForm.name, 'Nom', {'attr': {'class': 'w-32 text-right pr-4 font-bold text-gray-700'}}) }}
                    {{ form_widget(categoryForm.name, {'attr': {'class': " border border-gray-300 shadow p-3 w-full rounded mb"}}) }}
                    <div class="error ">
                        {{ form_errors(categoryForm.name) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(categoryForm.description, 'Description', {'attr': {'class': 'w-32 text-right pr-4 font-bold text-gray-700'}}) }}
                    {{ form_widget(categoryForm.description, {'attr': {'class': "border border-gray-300 shadow p-3 w-full rounded mb"}}) }}
                </div>    
                    <button type="submit" class="mb-3 inline-flex items-center py-2 px-4 text-xl font-normal text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        {{ button_label|default('Ajouter') }}
                    </button>
            </div>
        </div>
    {{ form_end(categoryForm) }}
</div>